.App {
  text-align: center;
  color: #424242;
  font-size: 18px;
  background-color: #fff;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100vh;
  margin-bottom: 32px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-image: url("./assets/denali4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 32px auto;
}

.App-link {
  color: #a38a4b;
}

.Button {
  position: absolute;
}

p {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 100%;
  max-width: 90%;
  text-align: left;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
