.App {
  text-align: center;
  color: #424242;
  font-size: 18px;
  background-color: #fff;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.App-link {
  color: #a38a4b;
}

.Button {
  display: flex;
  flex-direction: column;
  align-self: center;
}

h3 {
  text-align: center;
  color: #a38a4b;
}

p {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 100%;
  max-width: 90%;
  text-align: left;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
